@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFEFC;
}

a {
  text-decoration: none;
  color: #000;
  margin: 0%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.Container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #DDD4D6;
}

.Container-header a {
  margin-left: 50px;
  text-transform: uppercase;
}

.Container-header__img {
  height: 50px;
  width: 50px;
  margin-right: 50px;
  position: relative;
}

.Container-header__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Car-count {
  display: none;
  position: absolute;
  background-color: black;
  height: 20px;
  width: 20px;
  top: 25px;
  right: 0;
  border-radius: 50%;
}

.Container-found {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  row-gap: 50px;
}

.Item-card {
  height: 400px;
  width: 350px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  transition: .3s all ease-in-out;
}

.Item-card:hover {
  transform: scale(1.1);
}

.Container-img {
  height: 250px;
  width: 100%;
}

.Container-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25%;
  padding-left: 10px;
  background-color: #E5ECEA;
}

.Container-description p {
  margin: 0%;
  text-transform: uppercase;
  font-size: 12px;
}

.Container-button {
  height: 51px;
  width: 100%;
}

.Add-car {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #33FFC1;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.Add-car img {
  height: 30px;
  width: 30px;
}

.Container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 50px;
  width: 100px;
  outline: none;
  box-shadow: 3px 3px rgba(0, 0, 0, .2);
  border: none;
  transition: .3s all ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.btn:active {
  transform: scale(.8);
}

.Add {
  background-color: #D3D3D3;
}

.Back {
  background-color: #A7F9B7;
  margin-right: 30px;
}

.Shop {
  background-color: darkorange;
}

.Form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Create-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  row-gap: 20px;
  height: 300px;
  width: 80%;
}

.Create-form label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  justify-self: stretch;
}

.Create-form input {
  width: 100%;
}

.Send {
  background-color: #08FB38;
}

.Delete {
  background-color: #FB0843;
  margin-left: 30px;
}

.Edit {
  background-color: #DECED2;
}

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0 auto;
}

.Container-img__item {
  width: 50%;
  height: 100%;
}

.Container-img__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Container-item__description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.Container-item__description p {
  text-transform: uppercase;
}

.Input {
  height: 30px;
  width: 500px;
}

.Container__modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  align-content: center;
  height: 100px;
  width: 100%;
}

.Container-img__modal {
  height: 100px;
  width: 100px;
}

.Container-img__modal img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Container-description__modal {
  text-align: left;
}

.Container-description__modal p {
  margin: 0%;
}

.overlay {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 1.1s ease-in;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 700px;
  background-color: white;
  animation: modalIn .8s forwards;
  padding: 1em;
  border-radius: .5em;
  text-align: center;
  will-change: transform;
}

.Container-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card-shop {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  border-radius: 20px;
  column-gap: 20px;
}

.Container-img__shop {
  height: 100%;
  width: 100%;
}

.Container-img__shop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Container-description__shop {
  display: grid;
  grid-template-columns: 1fr;
}

.Container-description__shop p {
  text-transform: uppercase;
}

@keyframes modalIn {
  from {
    transform: translateY(-3000px);
  }

  50% {
    transform: translateY(100px);
  }

  90% {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes modalOut {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  90% {
    transform: translateY(50px);
  }

  to {
    transform: translateY(-3000px);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .Items {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Item {
    width: 100vw;
    height: 100%;
    display: block;
  }

  .Item > .Container-item__description {
    margin: 0%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Item > .Container-item__description input {
    width: 90%;
  }

  .Container-img__item {
    margin: 0;
    width: 100%;
    height: 260px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1109px) {
  .Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .Card-shop {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .Container-description__shop {
    padding: 10px;
  }

  .Container-description__shop p {
    margin: 0%;
  }
}